@use '/src/style/base/mixins.scss'as *;
@use '/src/style/base/variables.scss'as *;


.title-h1 {
    @include title;
    // font-size: 36px;
    font-size: 18px;
    text-align: left;
}


.link {
    @include title;
    font-size: 16px;
}