@use '/src/style/base/mixins.scss'as *;
@use '/src/style/base/variables.scss'as *;


@mixin title {
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: $dark;
}