@import '../../Sass/Helpers/Variables.scss';

.project {
    padding-top: 50px;
    &__title {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 60%;
        &-line {
            flex-shrink: 0;
            flex: 1;
            min-width: 50px;
            height: 2px;
            background: $primary;
        }
    }
    &__header {
        display: flex;
        align-items:center;
        justify-content: space-between;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding-top: 40px;
        justify-content: space-around;
    }
    &__card {
        max-width: 270px;
        border: 1px solid $gray;
        background-color: rgba(30, 30, 30, 0.7 );
    }

   
}