@use '/src/style/base/variables.scss'as *;

.about {
    padding-top: 40px;

    &__memoji {
        padding-top: 70px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__picture {
        position: relative;
    }


    .link {
        font-size: 15px;
        text-align: center;
        margin-top: 24px;
    }
}