@use '/src/style/base/variables.scss'as *;

.about {
    padding-top: 40px;

    &__memoji {
        padding-top: 70px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__picture {
        position: relative;
    }

    &__information-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;

        img {
            height: 33px;
        }
    }

    .link {
        font-size: 15px;
        text-align: center;
        margin-top: 24px;
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__wrapper {
            display: flex;
        }

        &__text {
            flex: 1 1 50%;
            order: 2;
        }

        &__memoji {
            flex: 1 1 50%;
            padding: 0;
            order: 1;
        }

        &__information-icons {
            margin-top: 40px;

            img {
                height: 43px;
            }
        }

        .link {
            font-size: 20px;
        }
    }
}

@media screen and (min-width:1440px) {
    .about {
        &__memoji {
            img {
                width: 530px;
                height: 530px;
            }
        }

        &__information-icons {
            justify-content: space-between;

            img {
                height: 48px;
            }
        }

        .link {
            font-size: 34px;
        }

        .circle {
            width: 333px;
            height: 333px;

            &__wrapper {
                left: -474px;
            }
        }

        .picture {
            left: 451px;

            &__logo-css {
                left: 166px;
            }

            &__logo-html {
                left: 184px;
            }
        }
    }
}