@use '/src/style/base/variables.scss'as *;

.aside {
    background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    transition: all 0.3s;
    height: 750px;
    &:hover {
        transform: translateY(-0.3125rem);
        box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.3);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        justify-items: center;
        text-align: center;
        gap: 40px;
    }

    &__img {
        img {
            border-radius: 100%;
            width: 163px;
        }
    }

    &__title {
        background: linear-gradient(164deg, #5671a6 0%, #b2cad8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__contact {
        ul {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;

            img {
                width: 21px;
            }
        }
    }
    .container {
        padding: 0;
    }

    button {
    border-radius: 1.5625rem;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
    cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.25);
            transform: scale(1.05);
        }

    }
}
