.footer {
    padding-top: 50px;

    &__wrapper {
        backdrop-filter: blur(24.863452911376953px);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0.55%, rgba(255, 255, 255, 0) 100%);
        padding: 25px;
        border-radius: 15px;
        position: relative;
        margin-top: 40px;
    }

    &__memoji {
        position: absolute;
        top: -59%;
        left: 62%;
    }
}