@use '/src/style/base/variables.scss'as *;
@use '/src/style/animation/animation.scss';

.header {
    &__menu {
        &-lg {
            display: none;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding-top: 26px;
    }

    &__logo {
        text-align: start !important;
        background: linear-gradient(45deg, #ff0066, #00ccff, #ffff66);
        background-size: 600% 600%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradientShift 7s ease infinite;
        cursor: default;
    }

    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-links {
            display: flex;
            flex-direction: row;
            text-align: center;
            order: 1;
            justify-content: center;
            gap: 40px;
        }
    }
}


@media screen and (min-width: 768px) {
    .header {
        &__menu {
            &-lg {
                display: block;
            }
        }

        .title-h5 {
            visibility: hidden;
        }

        .burger {
            display: none;
        }
    }
}