.marquee {
    padding-top: 40px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow: hidden;
        background-color: #222;
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
        box-sizing: border-box;
        // height: 29px;
        padding: 20px;
        box-shadow: 0 0 11px 0 rgba(255, 255, 255, 0.15);
        background: #1c1c1c;
        transform: rotate(-3deg);
    }

    &__elements {
        display: flex;
        width: max-content;
        animation: scroll-left 10s linear infinite;
        gap: 5%;
    }

    &__element {
        padding-right: 10px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        width: 100vw;

        li {
            background: linear-gradient(179deg, rgba(255, 255, 255, 0.11) 0%, rgba(58, 58, 58, 0.11) 100%);
            border-radius: 17px;
            padding: 11px;
            border: 1px solid rgba(255, 255, 255, 0.445);
        }
    }
}

@media screen and (min-width: 768px) {
    .marquee {
        &__container {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .marquee {
        &__container {
            font-size: 30px;
        }
    }
}