.person {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        display: flex;
        justify-content: center;
    }

    &__bg {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .title-h1 {
        position: relative;

        &::before {
            content: '';
            background: url('/src/logo/I’m.png')no-repeat;
            width: 43px;
            height: 58px;
            position: absolute;
            bottom: 48px;
            left: 41px;
        }
    }
}

@media screen and (min-width: 768px) {
    .person {
        &__wrapper {
            flex-direction: row !important;
            align-items: center;
        }

        &__bg {
            .bg {
                width: 530px;
            }
        }

        &__text {
            flex: 1 1 50%;
            order: 1;
        }

        &__bg {
            flex: 1 1 50%;
            order: 2;
        }
    }

    .title-h1 {
        width: 97%;
        text-align: justify !important;
    }

    .title-h4 {
        text-align: justify !important;
    }
}