@use '/src/style/base/variables.scss'as *;


*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body::selection {
    background-color: rgba(132, 0, 255, 0.527);
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;

}

body {
    margin: 0 auto;
    background-color: #1B1B1B;
    max-width: 1440px;
}

.wrapper,
.container {
    padding: 16px;

    &-border {
        border: 2px solid $stroke-main;
    }
}