$dark: rgba(29, 29, 29, 0.17);
$white: #fff;
$green: #2eecc5;
$orange: #ff5d20;
$yellow: #f4eb97;
$blue: #5b6cff;
$gray-light: #D3D3D3;

$js-icon: url('/src/img/icon/program-lang/sm/icons8-javascript-48.png');
$css-icon: url('/src/img/icon/program-lang/sm/icons8-css3-48.png');
$html-icon: url('/src/img/icon/program-lang/sm/icons8-html-5-48.png');
$github-icon: url('/src/img/icon/program-lang/sm/icons8-github-48.png');