$orange-primary: #cc985b;
$orange-cecondary: #f4b76e;
$blue-primary: #84b1db;
$blue-secondary: #cddfff;
$yellow-primary: #ede98b;
$yellow-secondary: #fffcb6;
$turquoise-primary: #87d9d4;
$turquoise-secondary: #a9ebe7;