	$stroke-main: #fff;
	$text-invert: #000;
	$text-main: #fff;
	$text-muted: #a4a4a4;
	$text-heading: #ffddc0;
	$text-link-invert: #0d0f21;
	$text-link: #c3c7f4;
	$bg-main: #000;
	$bg-invert: #fff;
	$bg-modal: #212121;
	$bg-select: #323232;