@import '../../Sass/Helpers/Variables.scss';

.main {
    padding-top: 34px;
    &__title {
        &:nth-child(1) {
            font-weight: 600;
            font-size: 32px;
            color: $white;
        }
        &:nth-child(2) {
            font-weight: 600;
            font-size: 32px;
            color: $primary;
        }
    }

    &__subtitle {
            padding-top: 25px;
            .sub {
                font-weight: 400;
                font-size: 16px;
                color: $gray;
            }
        }
        &__images {
            position: relative;
            padding-top: 24px;
            &-user {
                position: absolute;
                width: 85%;
                max-width: 350px;
                z-index: 35;
            }
            &-figure {
                position: absolute;
                left: 2px;
                top: 82px;
            }
            &-dots {
                position: absolute;
                z-index: 99999;
                left: 264px;
                top: 216px;
            }
        }

}