@import '../../Sass/Helpers/Variables.scss';

.main {
    padding-top: 34px;
    &__title {
        &:nth-child(1) {
            font-weight: 600;
            font-size: 32px;
            color: $white;
        }
        &:nth-child(2) {
            font-weight: 600;
            font-size: 32px;
            color: $primary;
        }
    }

    &__subtitle {
            padding-top: 25px;
        }
        &__images {
            position: relative;
            padding-top: 24px;
            &-user {
                // position: absolute;
                // width: 85%;
                // width: 350px;
                // min-width: 300px;
                z-index: 35;
            }
            &-figure {
                position: absolute;
                left: 37px;
                top: 148px;
                z-index: -9;
            }
            &-dots {
                position: absolute;
                z-index: 99999;
                left: 367px;
                top: 262px;
            }
        }
        &__info {
            // position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 6px;
            border: 1px solid $gray;
            padding: 8px;
            width: 457px;
            height: 58px;
            &-wrap {
                display: flex;
                align-items: center;
                gap: 20px;
            }
            &-square {
                width: 16px;
                height: 16px;
                background-color: $primary;
            }
        }

        .text {
            color: $white;
        }
}

@media screen and (min-width: 768px) {
    .main {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__images {
            padding: 0;
        }
        &__title {
            font-size: 41px !important;
        }
    }
    .sub {
        font-size: 23px !important;
    }
}