@use '/src/style/base/variables.scss'as *;

.circle {
    position: absolute;
    filter: blur(68.30000305175781px);
    background: rgba(29, 29, 29, 0.17);
    border-radius: 100%;
    width: 140px;
    height: 125px;
    z-index: -9999;

    &__wrapper {
        position: relative;
        left: -250px;
    }

    &-orange {
        background-color: $orange;
        top: 150px;
        left: 100px;
    }

    &-yellow {
        background-color: $yellow;
        left: -50px;
        top: 80px;
    }

    &-blue {
        background-color: $blue;
        left: 120px;
    }
}