@use '/src/style/base/variables.scss'as *;

.picture {
    position: relative;

    &__logo {
        position: absolute;
        width: 48px;
        height: 48px;

        &-js {
            background: $js-icon no-repeat;
            left: -257px;
        }

        &-css {
            background: $css-icon no-repeat;
            left: -90px;
        }

        &-html {
            background: $html-icon no-repeat;
            top: 62px;
            left: -72px;
        }

        &-github {
            background: $github-icon no-repeat;
            left: -276px;
            top: 59px;
        }
    }
}