.about {
    padding-top: 50px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: center;
        gap: 20px;
    }
    &__person {
        position: relative;
        img {
            border-bottom: 2px solid rgb(199 120 221);
        }
    }

    .window__about {
        position: absolute;
        width: 148px;
        height: 79px;
        top: 57%;
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__container {
            display: flex;
            justify-content: space-between;
        }
        &__info {
            width: 60%;
        }
    }
}