.window {
    position: absolute;
    color: rgb(87 214 165);
    font-size: 12px;
    line-height: 16px;
    background-color: rgba(30, 30, 30, 0.7);
    padding: 15px;
    border: 1px solid rgb(199 120 221);
    border-radius: 4px;
}